<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css.css">
    <title>QR kód generator</title>
</head>
<body>
    <div class="contaiiner">
        <h1>QR code generator</h1>
        <form action="/" method="POST">
            <label for="data">give a file or text</label>
            <input type="text" id="data" name="data" required>
            <button type="submit">generate</button>
        </form>
    </div>
    
</body>
</html>